.chartPage {
  display: flex;
  height: 100vh;
  background-color: #f9fafc;
}

.mainContent {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 15px;
  padding: 5px;
}

/* 상단 요약 데이터 */
.summaryContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary {
  flex: 1;
  background-color: white;
  padding: 0px 15px;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  /* text-align: center; */
}

.summaryTitle {
  margin: 10px 0;
  text-align: left;
  font-size: 24px;
  color: #a8a8a8;
}

.summaryData {
  font-size: 25px;
  margin: 0;
  text-align: right;
  font-weight: 600;
}

.summaryComparison {
  margin: 5px 0 10px 0;
  text-align: right;
}

/* 차트 */

.chartContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 474px;
  margin: 0px 10px;
}



/* 우측 데이터 */

.details {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin: 35px 35px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  overflow-y: auto;
}

.details p {
  margin: 0px 0;
  font-size: 1.5rem;
}

.details h3 {
  margin: 0 0 25px 0;
  font-size: 2.5rem;
}

.details .detailsTotal{
  margin: 0;
  font-size: 2.5rem;
}
.up {
  color: red;
  font-weight: bold;
}

.down {
  color: blue;
  font-weight: bold;
}

.totalUp {
  color: green;
  font-weight: bold;
  font-size: 1.2rem;
}
